In [3]:
%matplotlib inline 
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [7]:
df_spec_needs= pd.read_csv(r'C:\Users\dgarb\OneDrive\Documents\Data Science Bootcamp April\Python\web_scraping_project\data prepared for analysis\cleaned data\df_spec_needs.csv')
df_spec_needs.head(2)

,Unnamed: 0,Unnamed: 0.1,cat_name,num_images,num_videos,age,breed,color,size,sex,...,spec_needs,without_story,coat_length_miss,color_miss,more_than_1_cat,video,num_pictures,pictures,breed_type,Days_On_Site
0,2020,0,Dougie,5,1,Senior,Domestic Short Hair,NaN,Medium,Female,...,True,False,unknown,unknown,False,True,5,True,DSH,Less Than Thirty Days
1,2021,1,Elias,6,1,Adult,Domestic Short Hair,NaN,Medium,Male,...,True,False,unknown,unknown,False,True,6,True,DSH,Less Than Thirty Days

In [19]:
mask = df_spec_needs.groupby(['rescue_group']).count()[['cat_id']].sort_values(by=['cat_id'],ascending=False) #> 1
mask
#list_mask = df_spec_needs.groupby(['rescue_group']).count()[['cat_id']].sort_values(by=['cat_id'],ascending=False).loc[mask.values,:].index

#final_mask = df_spec_needs['cat_id'].isin(list_mask)

#df_spec_needs.loc[final_mask,['cat_id','rescue_group'].groupby(['rescue_group']).count()

                                        cat_id
rescue_group
Cameron Animal Hospital Rescue               7
CLAWS                                        6
Final Hope Animal Rescue and Sanctuary       5
Puppy Kitty NY City                          5
Bobbi & the Strays                           4
...                                        ...
Joyrides Rescue                              1
Kittens and Barbells Rescue Inc.             1
Lawyers In Defense of Animals (LIDA)         1
Lend-a-Paw Inc.                              1
JerseyCats                                   1

[69 rows x 1 columns]

In [10]:
df_all2 = pd.read_csv(r'C:\Users\dgarb\OneDrive\Documents\Data Science Bootcamp April\Python\web_scraping_project\data prepared for analysis\cleaned data\df_all.csv')
df_all2.head(2)

,Unnamed: 0,cat_name,num_images,num_videos,age,color,sex,characteristics,good_in_a_home_with,adoption_fee,...,thirty_days,without_story,coat_length_miss,color_miss,more_than_1_cat,video,num_pictures,pictures,breed_type,Days_On_Site
0,0,Ashe and Billie,6,0,Adult,NaN,Female,NaN,NaN,NaN,...,False,False,unknown,unknown,True,False,6,True,DSH,Less Than Thirty Days
1,1,Billie and Ashe,6,0,Adult,NaN,Female,NaN,NaN,NaN,...,False,False,unknown,unknown,True,False,6,True,DSH,Less Than Thirty Days

In [11]:
df_all2.loc[df_all2['age']== 'Adult'].groupby(['rescue_group']).unique()[['cat_id']].sort_values(by=['cat_id'],ascending=False)

AttributeError: 'DataFrameGroupBy' object has no attribute 'unique'